

.pagination{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.pagination div:nth-child(1), .pagination div:nth-child(3){
    display: flex;
 
    justify-content: center;
    /* background-color: #fb8500; */
}

/* .pagination div:nth-child(1):hover, .pagination div:nth-child(3):hover{
    background-color: #ffb703;
} */

