.form{
    background-color: #219ebc;
    border: black solid 4px;
    /* padding: 2%;
    margin: 2%; */
    border-radius: 5%;
}

.formFieldset{
    background-color: #ffb703;
    
}

/* .submitBtn{
    background-color: blue;
    border: black solid 4px;
    padding: 2%;
    margin: 2%;
} */

.submitBtn{
    background-color: #8ecae6;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    justify-content: center;
    /* padding: 2rem;
    margin: .75rem; */
    border: solid black 4px;
    padding: 2%;
    margin: 2%;
    border-radius: .5rem;
}

.submitBtn:hover{
    background-color: #fb8500;
    transition: background-color ease-in-out 0.25s;
}